In [2]:
import pandas as pd

In [3]:
file = "pokemon.csv"

In [4]:
Pokemon_DF = pd.read_csv(file)
Pokemon_DF.head()

C:\Users\zacha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,pokemonId,latitude,longitude,appearedLocalTime,_id,cellId_90m,cellId_180m,cellId_370m,cellId_730m,cellId_1460m,...,cooc_143,cooc_144,cooc_145,cooc_146,cooc_147,cooc_148,cooc_149,cooc_150,cooc_151,class
0,149,20.526960,-97.458378,2016-09-07T03:49:07,NzA3NDE5NzU0NTQzMjE0MjA2MQ==,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,...,False,False,False,False,False,False,False,False,False,149.0
1,149,42.282271,-87.833217,2016-09-07T01:02:17,MTA5MTA5MzE2OTA5MzU4NjQ5NzM=,9.804310e+18,9.804310e+18,9.804310e+18,9.804310e+18,9.804310e+18,...,False,False,False,False,False,False,False,False,False,149.0
2,149,20.525710,-97.459477,2016-09-06T21:51:14,MjE5OTg4MDk0MzkxMTI3NTAyMQ==,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,...,False,False,False,False,False,False,False,False,False,149.0
3,149,20.525828,-97.458885,2016-09-06T05:30:40,MTQ4MDkxODI2MjExOTYxNTU2NQ==,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,9.645140e+18,...,False,False,False,False,False,False,False,False,False,149.0
4,149,32.746354,-116.923101,2016-09-06T03:32:24,MTQ3NjY0OTA1NzIyNDQxMjI1NDE=,9.284550e+18,9.284550e+18,9.284550e+18,9.284550e+18,9.284550e+18,...,False,False,False,False,False,False,False,False,False,149.0

In [10]:
Pokemon_DF2 = Pokemon_DF.loc[:, ["pokemonId", "latitude", "longitude", "appearedLocalTime",
                                "appearedTimeOfDay", "appearedHour", "appearedMinute", "appearedDayOfWeek",
                                "appearedDay", "appearedMonth", "appearedYear","terrainType", "closeToWater",
                                "city","continent","weather","temperature", "windSpeed", "windBearing","pressure",
                                "weatherIcon","population_density", "urban", "suburban", "midurban", "rural", 
                                "gymDistanceKm", "class"]]
Pokemon_DF2

,pokemonId,latitude,longitude,appearedLocalTime,appearedTimeOfDay,appearedHour,appearedMinute,appearedDayOfWeek,appearedDay,appearedMonth,...,windBearing,pressure,weatherIcon,population_density,urban,suburban,midurban,rural,gymDistanceKm,class
0,149,20.526960,-97.458378,2016-09-07T03:49:07,night,5,49,Sunday,7,8,...,280,1018.00,clear-night,2431.23410,True,True,True,False,0.247183,149.0
1,149,42.282271,-87.833217,2016-09-07T01:02:17,night,3,2,Sunday,7,8,...,204,1015.01,clear-night,475.51624,False,True,True,False,3.362859,149.0
2,149,20.525710,-97.459477,2016-09-06T21:51:14,night,23,51,Saturday,6,8,...,91,1015.00,partly-cloudy-day,2431.23410,True,True,True,False,0.068655,149.0
3,149,20.525828,-97.458885,2016-09-06T05:30:40,morning,7,30,Saturday,6,8,...,308,1015.12,fog,2431.23410,True,True,True,False,0.117995,149.0
4,149,32.746354,-116.923101,2016-09-06T03:32:24,night,5,32,Saturday,6,8,...,260,1009.59,clear-night,426.50220,False,True,True,False,0.184023,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140545,1,41.677111,2.788446,2016-09-05T12:09:53,afternoon,14,9,Friday,5,8,...,287,1016.88,clear-day,0.00000,False,False,False,True,0.554251,1.0
140546,1,49.917237,18.115749,2016-09-05T11:57:00,afternoon,13,57,Friday,5,8,...,283,1013.71,rain,133.65471,False,False,False,True,0.145303,1.0
140547,1,38.896207,-77.069623,2016-09-05T11:55:33,afternoon,13,55,Friday,5,8,...,32,1024.09,clear-day,2810.72850,True,True,True,False,0.344192,1.0
140548,1,41.674877,2.790703,2016-09-05T11:49:45,afternoon,13,49,Friday,5,8,...,287,1016.88,clear-day,0.00000,False,False,False,True,0.255098,1.0
140549,1,48.858117,2.295328,2016-09-05T11:49:09,afternoon,13,49,Friday,5,8,...,170,1022.39,cloudy,10000.00000,True,True,True,False,0.053440,1.0

In [21]:
columns = ["pokemonId", "latitude", "longitude", "appearedLocalTime",
                                "appearedTimeOfDay", "appearedHour", "appearedMinute", "appearedDayOfWeek",
                                "appearedDay", "appearedMonth", "appearedYear","terrainType", "closeToWater",
                                "city","continent","weather","temperature", "windSpeed", "windBearing","pressure",
                                "weatherIcon","population_density", "urban", "suburban", "midurban", "rural", 
                                "gymDistanceKm", "class"]

#America_Pokemon = Pokemon_DF2.loc[Pokemon_DF2["continent"] == "America", columns]
#Revist: Trying to grab three continents, possibly use Groupby 
America_Pokemon = Pokemon_DF2.loc[(Pokemon_DF2["continent"]== "America") | (Pokemon_DF2["continent"] == "America/Indiana"), columns]
America_Pokemon

,pokemonId,latitude,longitude,appearedLocalTime,appearedTimeOfDay,appearedHour,appearedMinute,appearedDayOfWeek,appearedDay,appearedMonth,...,windBearing,pressure,weatherIcon,population_density,urban,suburban,midurban,rural,gymDistanceKm,class
0,149,20.526960,-97.458378,2016-09-07T03:49:07,night,5,49,Sunday,7,8,...,280,1018.00,clear-night,2431.234100,True,True,True,False,0.247183,149.0
1,149,42.282271,-87.833217,2016-09-07T01:02:17,night,3,2,Sunday,7,8,...,204,1015.01,clear-night,475.516240,False,True,True,False,3.362859,149.0
2,149,20.525710,-97.459477,2016-09-06T21:51:14,night,23,51,Saturday,6,8,...,91,1015.00,partly-cloudy-day,2431.234100,True,True,True,False,0.068655,149.0
3,149,20.525828,-97.458885,2016-09-06T05:30:40,morning,7,30,Saturday,6,8,...,308,1015.12,fog,2431.234100,True,True,True,False,0.117995,149.0
4,149,32.746354,-116.923101,2016-09-06T03:32:24,night,5,32,Saturday,6,8,...,260,1009.59,clear-night,426.502200,False,True,True,False,0.184023,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140534,1,34.334551,-86.321156,2016-09-05T13:23:38,afternoon,15,23,Friday,5,8,...,91,1025.50,clear-day,38.953922,False,False,False,True,2.760497,1.0
140539,1,40.142329,-83.030473,2016-09-05T12:31:19,afternoon,14,31,Friday,5,8,...,90,1024.46,clear-day,475.516240,False,True,True,False,0.099775,1.0
140540,1,39.941941,-75.385348,2016-09-05T12:22:57,afternoon,14,22,Friday,5,8,...,9,1023.76,clear-day,947.061000,True,True,True,False,1.277492,1.0
140542,1,19.291552,-99.628698,2016-09-05T12:19:57,afternoon,14,19,Friday,5,8,...,320,1010.84,clear-day,2102.977500,True,True,True,False,0.056881,1.0
140547,1,38.896207,-77.069623,2016-09-05T11:55:33,afternoon,13,55,Friday,5,8,...,32,1024.09,clear-day,2810.728500,True,True,True,False,0.344192,1.0