In [9]:
import pandas as pd

In [10]:
file = "300k.csv"

In [11]:
Pokemon_DF = pd.read_csv(file)
Pokemon_DF.head()

C:\Users\empre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,pokemonId,latitude,longitude,appearedLocalTime,_id,cellId_90m,cellId_180m,cellId_370m,cellId_730m,cellId_1460m,...,cooc_143,cooc_144,cooc_145,cooc_146,cooc_147,cooc_148,cooc_149,cooc_150,cooc_151,class
0,16,20.525745,-97.460829,2016-09-08T03:57:45,NTgxMDkzOTk4MTM5MjUwMjIzNw==,9645139108510564000,9645139108711890000,9645139108443455000,9645139109517197000,9645139113812165000,...,False,False,False,False,False,False,False,False,False,16
1,133,20.523695,-97.461167,2016-09-08T03:57:37,OTQ1NDgzODc1MjM3NDEzMTI2MQ==,9645139109852742000,9645139109785633000,9645139110590940000,9645139109517197000,9645139113812165000,...,False,False,False,False,False,False,False,False,False,133
2,16,38.903590,-77.199780,2016-09-08T03:57:25,NTQ0OTQ0NDA1Nzg2ODg3OTg2OQ==,9923201472785285000,9923201472986612000,9923201473791918000,9923201477013144000,9923201481308110000,...,False,False,False,False,False,False,False,False,False,16
3,13,47.665903,-122.312561,2016-09-08T03:56:22,NTU2MTU1NDM4NzA2MDk1MDcxNw==,6093392705025474600,6093392705092583400,6093392705897889800,6093392702676664300,6093392715561566200,...,False,False,False,False,False,False,False,False,False,13
4,133,47.666454,-122.311628,2016-09-08T03:56:08,MTY2ODg4MTAzMTczMDE0MTUwNTM=,6093392707709829100,6093392707776938000,6093392708045373400,6093392711266598900,6093392715561566200,...,False,False,False,False,False,False,False,False,False,133

In [12]:
Pokemon_DF2 = Pokemon_DF.loc[:, ["pokemonId", "latitude", "longitude", "appearedLocalTime",
                                "appearedTimeOfDay", "appearedHour", "appearedMinute", "appearedDayOfWeek",
                                "appearedDay", "appearedMonth", "appearedYear","terrainType", "closeToWater",
                                "city","continent","weather","temperature", "windSpeed", "windBearing","pressure",
                                "weatherIcon","population_density", "urban", "suburban", "midurban", "rural", 
                                "gymDistanceKm", "class"]]
Pokemon_DF2

,pokemonId,latitude,longitude,appearedLocalTime,appearedTimeOfDay,appearedHour,appearedMinute,appearedDayOfWeek,appearedDay,appearedMonth,...,windBearing,pressure,weatherIcon,population_density,urban,suburban,midurban,rural,gymDistanceKm,class
0,16,20.525745,-97.460829,2016-09-08T03:57:45,night,5,57,dummy_day,8,8,...,269,1018.02,fog,2431.23410,True,True,True,False,0.049869,16
1,133,20.523695,-97.461167,2016-09-08T03:57:37,night,5,57,dummy_day,8,8,...,269,1018.02,fog,2431.23410,True,True,True,False,0.259156,133
2,16,38.903590,-77.199780,2016-09-08T03:57:25,night,5,57,dummy_day,8,8,...,218,1015.29,clear-night,761.88560,False,True,True,False,0.489886,16
3,13,47.665903,-122.312561,2016-09-08T03:56:22,night,5,56,dummy_day,8,8,...,160,1020.52,partly-cloudy-night,4842.16260,True,True,True,False,0.359309,13
4,133,47.666454,-122.311628,2016-09-08T03:56:08,night,5,56,dummy_day,8,8,...,160,1020.52,partly-cloudy-night,4842.16260,True,True,True,False,0.210543,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296016,19,39.119052,-76.633194,2016-09-02T21:50:11,night,23,50,Tuesday,2,8,...,39,1018.39,clear-day,1265.79160,True,True,True,False,0.381690,19
296017,13,47.142237,7.244752,2016-09-02T21:50:08,night,23,50,Tuesday,2,8,...,336,1021.44,clear-night,1886.21220,True,True,True,False,0.012378,13
296018,16,42.258532,-87.881248,2016-09-02T21:50:07,night,23,50,Tuesday,2,8,...,46,1023.27,clear-day,475.51624,False,True,True,False,0.110061,16
296019,19,26.230929,-98.194772,2016-09-02T21:50:07,night,23,50,Tuesday,2,8,...,86,1010.63,clear-day,849.44226,True,True,True,False,1.743821,19
296020,96,50.144272,14.101178,2016-09-02T21:50:06,night,23,50,Tuesday,2,8,...,204,1019.17,clear-night,1411.25760,True,True,True,False,0.338676,96

In [13]:
columns = ["pokemonId", "latitude", "longitude", "appearedLocalTime",
                                "appearedTimeOfDay", "appearedHour", "appearedMinute", "appearedDayOfWeek",
                                "appearedDay", "appearedMonth", "appearedYear","terrainType", "closeToWater",
                                "city","continent","weather","temperature", "windSpeed", "windBearing","pressure",
                                "weatherIcon","population_density", "urban", "suburban", "midurban", "rural", 
                                "gymDistanceKm", "class"]

#America_Pokemon = Pokemon_DF2.loc[Pokemon_DF2["continent"] == "America", columns]
#Revist: Trying to grab three continents, possibly use Groupby 
America_Pokemon = Pokemon_DF2.loc[(Pokemon_DF2["continent"]== "America") | (Pokemon_DF2["continent"] == "America/Indiana"), columns]
America_Pokemon

,pokemonId,latitude,longitude,appearedLocalTime,appearedTimeOfDay,appearedHour,appearedMinute,appearedDayOfWeek,appearedDay,appearedMonth,...,windBearing,pressure,weatherIcon,population_density,urban,suburban,midurban,rural,gymDistanceKm,class
0,16,20.525745,-97.460829,2016-09-08T03:57:45,night,5,57,dummy_day,8,8,...,269,1018.02,fog,2431.23410,True,True,True,False,0.049869,16
1,133,20.523695,-97.461167,2016-09-08T03:57:37,night,5,57,dummy_day,8,8,...,269,1018.02,fog,2431.23410,True,True,True,False,0.259156,133
2,16,38.903590,-77.199780,2016-09-08T03:57:25,night,5,57,dummy_day,8,8,...,218,1015.29,clear-night,761.88560,False,True,True,False,0.489886,16
3,13,47.665903,-122.312561,2016-09-08T03:56:22,night,5,56,dummy_day,8,8,...,160,1020.52,partly-cloudy-night,4842.16260,True,True,True,False,0.359309,13
4,133,47.666454,-122.311628,2016-09-08T03:56:08,night,5,56,dummy_day,8,8,...,160,1020.52,partly-cloudy-night,4842.16260,True,True,True,False,0.210543,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296011,16,43.337917,-89.376141,2016-09-02T21:50:15,night,23,50,Tuesday,2,8,...,99,1023.50,clear-day,18.19041,False,False,False,True,0.294296,16
296012,10,39.961658,-75.922326,2016-09-02T21:50:13,night,23,50,Tuesday,2,8,...,24,1019.03,clear-day,107.52168,False,False,False,True,0.383195,10
296016,19,39.119052,-76.633194,2016-09-02T21:50:11,night,23,50,Tuesday,2,8,...,39,1018.39,clear-day,1265.79160,True,True,True,False,0.381690,19
296018,16,42.258532,-87.881248,2016-09-02T21:50:07,night,23,50,Tuesday,2,8,...,46,1023.27,clear-day,475.51624,False,True,True,False,0.110061,16
296019,19,26.230929,-98.194772,2016-09-02T21:50:07,night,23,50,Tuesday,2,8,...,86,1010.63,clear-day,849.44226,True,True,True,False,1.743821,19

In [28]:
urban= (America_Pokemon["urban"]).value_counts().loc[True]
print(urban)

66224

In [29]:
suburban= (America_Pokemon["suburban"]).value_counts().loc[True]
print(suburban)

97209

In [30]:
midurban= (America_Pokemon["midurban"]).value_counts().loc[True]
print(midurban)

110964

In [31]:
rural= (America_Pokemon["rural"]).value_counts().loc[True]
print(rural)

40630

In [41]:
d = {'Demographic_count': [urban, suburban, midurban, rural], 'Demographic': ["Urban", "Suburban", "Midurban", "Rural"]}
df = pd.DataFrame(data=d)
df

   Demographic_count Demographic
0              66224       Urban
1              97209    Suburban
2             110964    Midurban
3              40630       Rural

In [42]:
df.to_csv(r'urbsuburb.csv')